.loggin {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loggin .art-content {
  background-color: #f6f5f8;
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}

.loggin .art-content h1 {
  text-align: center;
  color: #5F249F;
  font-family: "Public Sans", sans-serif;
  font-size: 50px;
}

.loggin .art-content img {
  width: 400px;
}

.loggin .loggin-form {
  background-color: white;
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loggin .loggin-form .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  gap: 30px;
}

.loggin .loggin-form .form-container h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.loggin .loggin-form .form-container .descripcion {
  font-family: "Public Sans", sans-serif;
  font-weight: lighter;
}

.loggin .loggin-form .form-container button {
  width: 100%;
  height: 40px;
  background-color: #5F249F;
  border: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.loggin .loggin-form .form-container button:hover {
  background-color: #002D72;
  cursor: pointer;
}

.loggin .loggin-form .form-container hr {
  width: 100%;
}

.loggin .loggin-form .form-container a {
  font-family: "Roboto", sans-serif;
  width: 100%;
  text-align: center;
}

.input-text {
  width: 100%;
}

.input-text p {
  font-weight: bold;
  font-family: "Public Sans", sans-serif;
  font-size: 14px;
}

.input-text input {
  width: 100%;
  margin-top: 5px;
  height: 40px;
  padding-left: 10px;
  border-color: gray;
  border-width: 1px;
  border-style: solid;
}

.input-text input:focus {
  outline: none;
  border-color: #CE0F69;
  color: #CE0F69;
}

.nav-bar {
  width: 100%;
  height: 100px;
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-bar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 80%;
}

.nav-bar .container img {
  width: 200px;
}

.nav-bar .container .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 20px;
  font-family: "Public Sans", sans-serif;
}

.nav-bar .container .icon-container .icono:hover {
  color: #CE0F69;
  cursor: pointer;
}

.nav-bar .container .icon-container .notificacion-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 5px;
}

.nav-bar .container .icon-container .notificacion-container .notificacion {
  background-color: #CE0F69;
  width: 20px;
  text-align: center;
  border-radius: 10px;
  color: white;
  font-size: 14px;
}

.home .dashboard {
  background-color: #f0f0f0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.home .dashboard .container {
  padding-top: 40px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 30px;
}

.home .dashboard .container .boton {
  font-family: "Public Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  width: 300px;
  height: 100px;
  background-color: #002D72;
  border-radius: 15px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.home .dashboard .container .boton:hover {
  background-color: #CE0F69;
  cursor: pointer;
}

.home .dashboard .container .boton .icono {
  width: 30px;
  height: 30px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=styles.css.map */